<section ng-controller="HomeController">

  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <p><h1>내집까지 편안하게</h1></p>
        <p><h1>직장까지 편안한 버스</h1></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
        <img class="bus img-fluid col-md-3 col-md-offset-4 col-sm-3 com-sm-offset-4 col-xs-3 col-xs-offset-4" src="modules/core/client/img/bluebus.png"></img>
        <img class="rotation img-fluid col-md-12 col-sm-12 col-xs-12 " src="modules/core/client/img/world.png"></img>
        <img class="reserve-button img-fluid col-md-6 col-md-offset-3 col-sm-6 com-sm-offset-3 col-xs-6 col-xs-offset-3" src="modules/core/client/img/reserve-button.png"></img>
      </div>
    </div>
  </div>

  <div class="row">
    <br>
    <br>
    <br>2017 ＠ Myungpoom Tour all rights reserved
    <br>
    <br>
    <br>
    <br>Enjoy Tour With Us
  </div>
</section>
