<section>
  <div class="page-header">
    <h1>Movinglines</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="movingline in vm.movinglines"
       ui-sref="movinglines.view({ movinglineId: movingline._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="movingline.created | date:'mediumDate'"></span>
        by
        <span ng-if="movingline.user" ng-bind="movingline.user.displayName"></span>
        <span ng-if="!movingline.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="movingline.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.movinglines.$resolved && !vm.movinglines.length">
    No Movinglines yet, why don't you <a ui-sref="movinglines.create">create one</a>?
  </div>
</section>
