<section>
  <div class="page-header">
    <h1>
      {{vm.bidding._id ? '전세버스 입찰 수정' : '전세버스 입찰 신청'}}
      <a class="pull-right" ui-sref="estimatenews.list">
        <i class="glyphicon glyphicon-circle-arrow-left"></i>
      </a>
    </h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <small>
        <em class="text-muted">
          Posted on
          <span ng-bind="vm.estimatenew.created | date:'mediumDate'"></span>
          by
          <span ng-if="vm.estimatenew.user"
                ng-bind="vm.estimatenew.user.displayName"></span>
          <span ng-if="!vm.estimatenew.user">Deleted User</span>
        </em>
      </small>
    </div>
    <div class="panel-body">
      <p>출발지: {{vm.estimatenew.startposition}}</p>
      <p>도착지: {{vm.estimatenew.endposition}}</p>
      <p>타입: {{vm.estimatenew.isturnback}} <span ng-show="vm.estimatenew.isturnback==='왕복'">({{dateDiff(vm.estimatenew.startdate, vm.estimatenew.enddate)}})</span></p>
      <p>출발일정: {{vm.estimatenew.startdate | date:'fullDate'}} {{vm.estimatenew.starttime}}</p>
      <p ng-show="vm.estimatenew.isturnback==='왕복'">복귀일정: {{vm.estimatenew.enddate | date:'fullDate'}} {{vm.estimatenew.endtime}}</p>
      <p>탑승인원: {{vm.estimatenew.howmany}}명</p>
      <p>사용목적: {{vm.estimatenew.purpose}}</p>
      <p>연락처: {{vm.estimatenew.phone}}</p>
      <p>세금계산서 및 현금영수증 발행: {{vm.estimatenew.taxinvoice ? '요청' : '불필요'}}</p>
      <p>신용카드 결제: {{vm.estimatenew.creditcard ? '요청' : '불필요'}}</p>
      <p>확정 예약가격: {{vm.estimatenew.quickprice}}만원</p>
      <p>선호하는 버스: {{vm.estimatenew.preferedbus}}</p>
      <p>남김말: {{vm.estimatenew.message}}</p>
    </div>
  </div>
  <hr />

  <div class="col-md-12">
    <form name="vm.form.biddingForm" class="form-horizontal" ng-submit="vm.save(vm.form.biddingForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group has-feedback" show-errors>
          <label class="control-label" for="biddingprice">견적금액</label>
          <input name="biddingprice" type="number" min="0" ng-model="vm.bidding.biddingprice" id="biddingprice" class="form-control" placeholder="부대비용 및 추가버스 포함" required>
          <span class="form-control-feedback"> 만원</span>
          <div ng-messages="vm.form.biddingForm.biddingprice.$error" role="alert">
            <p class="help-block error-text" ng-message="required">필수 입력항목</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="buscount">버스 대수</label>
          <input type="text" id="buscount" class="form-control" placeholder="견적에 포함된 버스 대수 1 대" disabled>
        </div>
        <div class="form-group">
          <label>부대비용 <span class="text-danger">* 견적에 포함된 항목만 선택</span></label>
          <ul class="list-group">
            <li class="list-group-item">
              <span ng-class="vm.bidding.toll === true ? 'text-danger' : 'text-muted'">톨비 포함</span>
              <input name="toll" class="pull-right" type="checkbox" ng-model="vm.bidding.toll">
            </li>
            <li class="list-group-item">
              <span ng-class="vm.bidding.parkingfee === true ? 'text-danger' : 'text-muted'">주차비 포함</span>
              <input name="parkingfee" class="pull-right" type="checkbox" ng-model="vm.bidding.parkingfee">
            </li>
            <li class="list-group-item">
              <span ng-class="vm.bidding.mealprice === true ? 'text-danger' : 'text-muted'">식사비 포함</span>
              <input name="mealprice" class="pull-right" type="checkbox" ng-model="vm.bidding.mealprice">
            </li>
            <li class="list-group-item">
              <span ng-class="vm.bidding.roomcharge === true ? 'text-danger' : 'text-muted'">숙박비 포함</span>
              <input name="roomcharge" class="pull-right" type="checkbox" ng-model="vm.bidding.roomcharge">
            </li>
            <li class="list-group-item">
              <span ng-class="vm.bidding.servicecharge === true ? 'text-danger' : 'text-muted'">봉사료 포함</span>
              <input name="servicecharge" class="pull-right" type="checkbox" ng-model="vm.bidding.servicecharge">
            </li>
            <li class="list-group-item">
              <span ng-class="vm.bidding.vat === true ? 'text-danger' : 'text-muted'">부가세(10%) 포함</span>
              <input name="vat" class="pull-right" type="checkbox" ng-model="vm.bidding.vat">
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label>결제정보 <span class="text-danger">* 제공 가능한 항목만 선택</span></label>
          <ul class="list-group">
            <li class="list-group-item">
              <span ng-class="vm.bidding.creditcard === true ? 'text-danger' : 'text-muted'">카드결제 가능</span>
              <input name="creditcard" class="pull-right" type="checkbox" ng-model="vm.bidding.creditcard">
            </li>
            <li class="list-group-item">
              <span ng-class="vm.bidding.taxinvoice === true ? 'text-danger' : 'text-muted'">세금계산서 및 현금영수증 발행 가능</span>
              <input name="taxinvoice" class="pull-right" type="checkbox" ng-model="vm.bidding.taxinvoice">
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="message">기사님 한마디
            <span class="text-muted">(선택)</span>
          </label>
          <textarea name="message" ng-model="vm.bidding.message" id="message" class="form-control" cols="30" rows="5" placeholder="남기고 싶은 말을 적어보세요!"></textarea>
        </div>
        <hr />

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.bidding._id ? '수정' : '입찰'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>

</section>
